# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/

# Distribution / Packaging
build/
dist/
*.egg-info/
.eggs/

# IDE-related files
*.idea/
*.vscode/